<!DOCTYPE html>
<html lang="sv">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
  <title>Kurser</title>
</head>

<body>
  <header id="header">
    <ul>
      <li><a href="/addcourse">Lägg till kurs</a></li>
      <li><a href="/about">Om webbplatsen</a></li>
    </ul>
  </header>

  <main id="indexMain">
    <section id="courseSection">
      <h1>Pågående kurser</h1>
      <div id="currentCourses">
        <% courses.forEach(course => { %>
        <% if(course.coursestatus && course.coursestatus.trim() === "Aktiv") { %>
        <article class="course">
          <h3>
            <%= course.coursecode %>, <%= course.coursename %>
          </h3>
          <p>
            Progression: <%= course.courseprogression %>
          </p>
          <p>
            <a href="<%= course.coursesyllabus %>">Länk till kursplan</a>
          </p>
          <a href="/delete/<%= course.coursecode %>" class="deleteCourse">Ta bort kurs</a>
          <div id="divider">

          </div>
        </article>

        <% } %>
        <% }) %>
      </div>

      <h2>Avklarade kurser</h2>
      <div id="finishedCourses">
        <% courses.forEach(course => { %>
        <% if(course.coursestatus && course.coursestatus.trim() === "Avslutad") { %>
        <article class="course">
          <h3>
            <%= course.coursecode %>, <%= course.coursename %>
          </h3>
          <p>
            Progression: <%= course.courseprogression %>
          </p>
          <p>
            <a href="<%= course.coursesyllabus %>">Länk till kursplan</a>
          </p>
          <a href="/delete/<%= course.coursecode %>" class="deleteCourse">Ta bort kurs</a>
          <div id="divider">

          </div>
        </article>
        <% } %>
        <% }) %>
      </div>
    </section>
  </main>

</body>

</html>